:root {
  --color-primery: #2e2f42;
  --color-secondary: #434455;
  --color-logo-button: #4d5ae5;
  --color-hover: #404bbf;
  --color-background: #ffffff;
  --color-background-sec: #f4f4fd;
  --color-border: #e7e9fc;
  --color-icon: #8e8f99;
  --color-icon-hover: #31d0aa;
  --color-modal: #fcfcfc;
  --color-modal-comment: #757575;
}
body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: var(--color-primery);
}
p,
h1,
h2,
h3 {
  margin-top: 0;
  margin-bottom: 0;
}
.container {
  width: 100%;
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
/* Header */
.border-box {
  background-color: var(--color-background);
  border-bottom: 1px solid var(--color-border);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.header-container-mobile {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
}
.header-container-desktop {
  display: flex;
  align-items: center;
}
@media (max-width: 767px) {
  .header-container-desktop {
    display: none;
  }
}
@media (min-width: 768px) {
  .header-container-mobile {
    display: none;
  }
}

.header-nav {
  display: flex;
  align-items: center;
  gap: 76px;
}
.header-menu {
  display: flex;
  gap: 40px;
}
.header-tel {
  display: flex;
  gap: 40px;
}
@media (max-width: 1200px) {
  .header-tel {
    flex-direction: column;
    gap: 12px;
  }
}
.heading-address {
  margin-left: auto;
}
.logo-first {
  color: var(--color-logo-button);
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.logo-second {
  color: var(--color-primery);
}
.header-link {
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.02em;
  line-height: 1.5;
  color: var(--color-primery);
  padding: 24px 0;
  display: block;
  position: relative;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.header-link:hover,
.header-link:focus {
  color: var(--color-hover);
  fill: var(--color-primery);
}

.current {
  color: var(--color-hover);
}
.header-link.current::after {
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: currentColor;
  content: "";
  position: absolute;
  bottom: -1px;
}
.header-address {
  color: var(--color-secondary);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-style: normal;
  padding: 24px 0;
  display: block;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media (max-width: 1200px) {
  .header-address {
    padding: 0;
  }
}
.header-address:hover {
  color: var(--color-hover);
}
.header-address:focus {
  color: var(--color-hover);
}

/* Mobile header*/
.header-burger {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  padding: 0;
  background-color: transparent;
  border: none;
}
.header-burger-icon {
  stroke: var(--color-primery);
}

/* Mobile menu */
.mobile-menu {
  width: 100%;
  max-width: 428px;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: var(--color-background);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding-top: 80px;
  padding-left: 40px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.mobile-menu.is-open {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
@media (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}
.button-mobile {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}
.icon-mobile {
  width: 8px;
  height: 8px;
}
.header-menu-mobile {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.header-link-mobile {
  text-decoration: none;
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 0.02em;
  line-height: 1.2;
  color: var(--color-primery);
  display: block;
  position: relative;
  text-decoration: none;
  gap: 40px;
  display: flex;
}
.current-mobile {
  color: var(--color-hover);
}
.header-link-mobile:hover,
.header-link-mobile:focus {
  color: var(--color-hover);
}
.header-mobile-call {
  color: var(--color-logo-button);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  font-style: normal;
}
.heading-address-mobile {
  display: flex;
  flex-direction: column;
}
.header-mobile-call:hover,
.header-mobile-call:focus {
  color: var(--color-hover);
}
.header-address-mobile {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  font-style: normal;
  color: var(--color-secondary);
}
.header-address-mobile:hover,
.header-address-mobile:focus {
  color: var(--color-hover);
}
.header-tel-mobile {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-bottom: 48px;
}
.socials-list-mobile {
  display: flex;
  gap: 56px;
}
/* Hero section */
.hero-first {
  background-color: var(--color-primery);
  padding: 188px 0;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg);
  background-repeat: no-repeat;
  background-position: center;
  max-width: 1440px;
  margin: 0 auto;
}
@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero-first {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office@2x.jpg);
  }
}
.container-hero {
  width: 496px;
  margin: 0 auto;
  text-align: center;
}
@media (max-width: 767px) {
  .container-hero {
    width: 320px;
  }
}
.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: var(--color-background);
  margin-bottom: 48px;
}
@media (max-width: 767px) {
  .hero-title {
    font-size: 36px;
  }
}
.hero-button {
  background-color: var(--color-logo-button);
  color: var(--color-background);
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  padding: 16px 32px;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-button:hover {
  background-color: var(--color-hover);
}
/* Benefits */
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
@media (max-width: 768px) {
  .list-benefits {
    max-width: 396px;
    margin: 0 auto;
  }
}
@media (max-width: 1199px) {
  .list-benefits {
    max-width: 356px;
    margin: 0 auto;
  }
}
.heading-benefits {
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.02em;
  line-height: 1.2;
  margin-bottom: 8px;
}
@media (max-width: 767px) {
  .heading-benefits {
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
  }
}
.text-benefits {
  color: var(--color-secondary);
  font-size: 16px;
  letter-spacing: 0.02em;
  line-height: 1.5;
}
@media (max-width: 767px) {
  .text-benefits {
    font-weight: 500;
  }
}
.container-benefits {
  display: flex;
}
@media (max-width: 767px) {
  .container-benefits {
    flex-direction: column;
    gap: 72px;
  }
}
@media (max-width: 1199px) {
  .container-benefits {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 64px;
    column-gap: 24px;
  }
}
@media (min-width: 1200px) {
  .container-benefits {
    row-gap: 8px;
    column-gap: 24px;
  }
}
.section-benefits {
  padding: 120px 0;
}
.benefits-icon {
  width: 64px;
  height: 64px;
}
.benefits-icon-link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  border-radius: 4px;
  margin-bottom: 8px;
  background-color: var(--color-background-sec);
}
@media (max-width: 1199px) {
  .benefits-icon-link {
    display: none;
  }
}
/* Doing */
.title-doing {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 72px;
}
.images-doing {
  display: flex;
  gap: 24px;
  flex-basis: calc((100% - 48px) / 3);
}

.section-doing {
  padding-bottom: 120px;
}
@media (max-width: 1199px) {
  .section-doing {
    display: none;
  }
}

/* Our team*/
.team-section {
  background-color: var(--color-background-sec);
  padding: 120px 0;
}
.box-team {
  background-color: var(--color-background);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}
@media (max-width: 768px) {
  .box-team {
    max-width: 264px;
    margin: 0 auto;
  }
}
.title-team {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  margin-bottom: 72px;
}
.heading-team {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
}
.text-team {
  color: var(--color-secondary);
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
}
.container-team {
  display: flex;
}
@media (max-width: 767px) {
  .container-team {
    flex-direction: column;
    gap: 72px;
  }
}
@media (max-width: 1199px) {
  .container-team {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 64px;
    column-gap: 24px;
  }
}
@media (min-width: 1199px) {
  .container-team {
    gap: 24px;
  }
}

.container-team .experts {
  padding: 32px 16px;
}
.socials-icon {
  width: 16px;
  height: 16px;
  fill: var(--color-background-sec);
}
.socials-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: var(--color-logo-button);
  border-radius: 50%;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.socials-item {
  width: 40px;
  height: 40px;
}
.socials-list {
  display: flex;
  gap: 24px;
  justify-content: center;
}
.socials-link:hover,
.socials-link:focus {
  background-color: var(--color-hover);
}
/* Customers */
.title-customers {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 72px;
  color: var(--color-primery);
}
.customers-list {
  gap: 24px;
  display: flex;
}
@media (max-width: 1199px) {
  .customers-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 72px;
    column-gap: 24px;
  }
}
.customers-item {
  flex-basis: calc((100% - 120px) / 6);
}
.customers-icon {
  width: 104px;
  height: 56px;
  fill: var(--color-icon);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.customers-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 168px;
  height: 88px;
  border: 1px solid var(--color-icon);
  border-radius: 4px;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.customers-link:hover,
.customers-link:focus {
  border-color: var(--color-hover);
}
.customers-link:hover .customers-icon,
.customers-link:focus .customers-icon {
  fill: var(--color-hover);
}
.section-customers {
  padding-top: 130px;
  padding-bottom: 120px;
}
/* Footer */
.footer {
  background-color: var(--color-primery);
  padding: 100px 0;
}
@media (max-width: 768px) {
  .footer-socials-list {
    max-width: 264px;
    margin: 0 auto;
  }
}
.footer-flex {
  display: flex;
  flex-direction: row;
}
@media (max-width: 767px) {
  .footer-flex {
    flex-direction: column;
    gap: 72px;
  }
}
@media (max-width: 1199px) {
  .footer-flex {
    display: flex;
    flex-wrap: wrap;
    row-gap: 72px;
    column-gap: 24px;
  }
}
.text-footer {
  color: var(--color-border);
  line-height: 1.5;
  letter-spacing: 0.02em;
  width: 264px;
  margin-top: 16px;
}
.footer-logo {
  margin-right: 120px;
}
@media (max-width: 767px) {
  .footer-logo {
    max-width: 268px;
    margin: 0 auto;
  }
}
.logo-lower {
  color: var(--color-background-sec);
}
.footer-text-socials {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
  color: var(--color-background);
}
@media (max-width: 767px) {
  .footer-text-socials {
    text-align: center;
  }
}
@media (max-width: 767px) {
  .logo-first {
    text-align: center;
  }
}
@media (max-width: 767px) {
  .footer-socials-item {
    margin: 0 auto;
  }
}
.footer-socials-icon {
  width: 24px;
  height: 24px;
  fill: var(--color-background-sec);
}
.footer-socials-link:hover,
.footer-socials-link:focus {
  background-color: var(--color-icon-hover);
}
.footer-socials-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-socials-list {
  display: flex;
  gap: 16px;
  margin-right: 80px;
}
@media (max-width: 767px) {
  .footer-socials-list {
    margin: 0 auto;
  }
}

/* Subscribe footer */
.subscribe-box {
  display: block;
}

.subscribe-field {
  display: flex;
  justify-content: center;
}
.subscribe-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-background);
  margin-bottom: 16px;
}
@media (max-width: 767px) {
  .subscribe-title {
    text-align: center;
  }
  .subscribe-field {
    flex-direction: column;
    gap: 16px;
  }
}
.subscribe-icon {
  width: 24px;
  height: 24px;
  fill: #ffffff;
}
.subscribe-input {
  width: 264px;
  height: 40px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  margin-right: 16px;
  color: var(--color-background);
  background-color: #2e2f42;
  padding-left: 16px;
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.subscribe-input:focus {
  outline: none;
  border: 1px solid var(--color-logo-button);
}
@media (max-width: 767px) {
  .subscribe-input {
    margin-bottom: 16px;
    margin: 0 auto;
    width: calc(100% - 30px);
  }
  .subscribe-button-submit {
    margin: 0 auto;
  }
}
@media (max-width: 1199px) {
  .subscribe-input {
    margin-right: 24px;
  }
}
.subscribe-button-submit {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 165px;
  height: 40px;
  padding: 0 24px 0 24px;
  background-color: var(--color-logo-button);
  color: var(--color-background);
  border-radius: 4px;
  border: none;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.subscribe-button-submit:hover,
.subscribe-button-submit:focus {
  background-color: var(--color-hover);
}
/* Portfolio */
.section-portfolio {
  padding-top: 96px;
  padding-bottom: 120px;
}
@media (max-width: 767px) {
  .section-portfolio {
    padding: 48px 0 48px 0;
  }
}
.button-portfolio {
  color: var(--color-logo-button);
  background-color: var(--color-background-sec);
  border: 1px solid var(--color-border);
  font-family: "Roboto", sans-serif;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  padding: 12px 24px;
  transition-property: color, background-color, border-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.button-portfolio:hover {
  color: var(--color-background);
  background-color: var(--color-hover);
  border-color: transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.button-portfolio:focus {
  color: var(--color-background);
  background-color: var(--color-hover);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.portfolio-filter {
  gap: 24px;
  display: flex;
  justify-content: start;
  margin-bottom: 72px;
}
@media (max-width: 767px) {
  .portfolio-filter {
    display: flex;
    flex-wrap: wrap;
    row-gap: 24px;
    column-gap: 16px;
    margin-bottom: 48px;
  }
}
.box-portfolio {
  background-color: var(--color-background);
}
.portfolio-link {
  display: block;
  transition-property: box-shadov;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-link:hover,
.portfolio-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
@media (max-width: 767px) {
  .box-portfolio {
    margin: 0 auto;
  }
}
.portfolio-box {
  display: flex;
  column-gap: 24px;
  row-gap: 48px;
  flex-wrap: wrap;
  flex-basis: calc((100% - 48px) / 3);
}
@media (min-width: 767px) and (max-width: 1199px) {
  .portfolio-box {
    row-gap: 72px;
  }
}
.portfolio-services {
  position: relative;
  overflow: hidden;
}
.portfolio-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: var(--color-logo-button);
  padding-top: 40px;
  padding-left: 32px;
  padding-right: 32px;
  transform: translateY(100%);
  transition: transform 250ms;
}
.text-overlay {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: var(--color-background-sec);
}
.portfolio-link:hover .portfolio-overlay,
.portfolio-link:focus .portfolio-overlay {
  transform: translateY(0);
}
.box-name {
  border-left: 1px solid var(--color-border);
  border-right: 1px solid var(--color-border);
  border-bottom: 1px solid var(--color-border);
  padding: 32px 16px;
}
.box-product {
  color: var(--color-primery);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.box-filter {
  color: var(--color-secondary);
  line-height: 1.5;
  letter-spacing: 0.02em;
}
/* Modal */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.modal {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 408px;
  max-height: 584px;
  background-color: var(--color-modal);
  padding: 72px 24px 24px 24px;
}
.modal-close {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  transition-property: background-color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close:hover,
.modal-close:focus {
  background-color: var(--color-hover);
  fill: var(--color-background);
}
.modal-icon {
  width: 8px;
  height: 8px;
}
/* Modal form */
.name-form {
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
  color: var(--color-primery);
}
.modal-form {
  display: flex;
  flex-direction: column;
}
.modal-form-field {
  margin-bottom: 8px;
}
.modal-form-field-comment {
  margin-bottom: 16px;
}
.modal-form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 38px;
  font-size: 18px;
  color: var(--color-primery);
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-input:focus {
  outline: none;
  border: 1px solid var(--color-logo-button);
}
.modal-form-input:focus + .modal-form-icon {
  fill: var(--color-logo-button);
}
.modal-form-input-desk {
  display: block;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.04em;
  color: var(--color-icon);
  margin-bottom: 4px;
}
.modal-form-icon {
  position: absolute;
  display: block;
  width: 18px;
  height: 24px;
  fill: var(--color-primery);
  top: 50%;
  transform: translateY(-50%);
  left: 19px;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-input-wrapper {
  position: relative;
}
.modal-form-comment {
  display: block;
  width: 100%;
  height: 120px;
  resize: none;
  padding: 8px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-comment:focus {
  outline: none;
  border: 1px solid var(--color-logo-button);
}
.modal-form-comment::placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.04em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-form-check-desc::before {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  border: 1.25px solid #2e2f42;
  border-radius: 2px;
  cursor: pointer;
  margin-right: 8px;
}
.modal-form-check:checked + .modal-form-check-desc::before {
  background-color: var(--color-logo-button);
  background-image: url(/images/click.svg);
}
.modal-form-check-desc {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.04em;
  color: var(--color-modal-comment);
}
.modal-form-check-desc-second {
  text-decoration: underline;
  color: var(--color-logo-button);
}

.modal-form-submit {
  align-self: center;
  width: 169px;
  height: 56px;
  background-color: var(--color-logo-button);
  color: var(--color-background);
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  padding: 16px 32px;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-submit:hover,
.modal-form-submit:focus {
  background-color: var(--color-hover);
}
